body {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.header-container {
	margin: auto;
	max-width: 100%;
	border: 1px solid #f4f4ed;
	box-shadow: 5px 5px 5px gray;
	cursor: pointer;
}

.header {
	text-align: center;
	font-family: Impact, sans-serif;
	letter-spacing: 20px;
	color: #3e3631;
}

#greeting {
	text-align: center;
	font-size: 1em;
	font-family: Arial black, sans-serif;
	color: #3e3631;
}
p {
	text-align: center;
	font-family: Arial black, sans-serif;
	color: #3e3631;
}

#name-container {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	background-color: #3e3631;
}

#name-container li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	font-family: Arial black, sans-serif;
	color: white;
	cursor: pointer;

}

.cat-container {
	padding-top: 100px;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 1px 2px 2px 2px gray;
	cursor: pointer;
}